<h1>{{title}}</h1>


<div class="row col-mb-50">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Konveksi Surabaya - Finest Garment</div>
            
            <div class="card-body">
                
            <p>Konveksi Surabaya melayani jasa konveksi seragam, konveksi jaket, kaos, polo shirt, jersey, distro. Finest Garment
            adalah solusi penjahit konveksi surabaya.</p>
            
            <p>Frontpage:</p>
            <textarea name="konten-frontpage" id="konten-frontpage" class="form-control" cols="30" rows="4" readonly>
                Search
                Toggle navigation
                DIJAHIT, DISABLON, DIBORDIR
                DENGAN CINTA
                OUR COMPANY PROFILE 
                About Our Company
                Welcome to FINEST GARMENT
                Finest Garment merupakan konveksi yang berpusat di Surabaya dan sudah memiliki beberapa kantor cabang di kota-kota besar seperti Jakarta, Bandung, Bali, dan Malang. Kami senantiasa memberikan kebebasan kepada client/pelanggan menentukan desain, warna dan bahan sesuai dengan budget.
                Kami juga menawarkan solusi jasa produksi berbagai garment seperti kaos, polo, kemeja, jaket, jersey, almamater, seragam, wearpack, rompi dan produk custom lainnya untuk berbagai kalangan seperti perusahaan, komunitas, event, sekolah, kampus atau distro.
                Harga Terjangkau
                Proses produksi yang terintegrasi (jahit, bordir dan sablon) menghasilkan harga yang terjangkau untuk semua kalangan
                Kualitas Terbaik
                Kualitas produk adalah prioritas utama bagi kami dengan memperhatikan setiap detail kualitas produksi untuk semua jenis produk
                Gratis Pengiriman
                Pengiriman barang menjangkau seluruh Indonesia dan dapatkan gratis ongkos kirim dengan syarat dan ketentuan yang berlaku.
                KANTOR CABANG FINEST GARMENT
                SURABAYA
                Our Location
                JAKARTA
                Our Location
                BANDUNG
                Our Location
                MALANG
                Our Location
                5 KANTOR CABANG
                5000++ PROYEK SELESAI
                70 KARYAWAN BERPENGALAMAN
                OUR PRODUCT
                KAOS
                POLO
                KEMEJA
                JAKET
                ROMPI
                JERSEY
                ALMAMATER
                SERAGAM SEKOLAH
                WEARPACK
                PRODUK LAINNYA
                OUR AMAZING CLIENTS
                Selama 4 tahun berdiri 150.000++ potong baju telah diproduksi dan 2500++ kontrak telah terjalin.
                LATEST NEWS

                  Jl. Gembong Gang V No. 6 Simokerto, Surabaya
                  Telp : (031) 3739 4688
                  Whatsapp : 0813 9393 5511
                  Email : surabaya@finest-garment.com
                  Jam Operasional : Senin – Sabtu | 08.00 – 17.00

                Finest Garment © 2021 Copyright PT. Integrasi Ide Indonesia. Made by OmahWebsite. All Right Reserved

            </textarea>

            <br>
            <p>Delta:</p>

            <textarea name="konten-difference" id="konten-difference" class="form-control" cols="30" rows="4" readonly>
                Difference: 0.69%

                Added: Whatsapp : 0813 9393 5511
                Email : surabaya@finest-garment.com
            </textarea>
            
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>1 Mei 2024</p>
                        <img src="/img/data/finestgarment.jpg" alt="Finest Garment" class="img-fluid">
                    </div>

                    <div class="col-md-6">
                        <p>8 Mei 2024</p>
                        <img src="/img/data/finestgarment2.jpg" alt="Finest Garment" class="img-fluid">

                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Rumah Kapas | Konveksi & Garment Terbaik di Surabaya</div>

            <div class="card-body">

            <p>Rumah Kapas merupakan konveksi dan garment yang menyediakan berbagai produk seperti kaos, seragam, kemeja, jaket, baju
            medis dengan kualitas dan harga terbaik..</p>

            <p>Frontpage:</p>
            <textarea name="konten-frontpage" id="konten-frontpage" class="form-control" cols="30" rows="4" readonly>
                Wujudkan seragam terbaik untuk perusahaan anda!
                Menyediakan berbagai layanan produk konveksi dan garment berkualitas sesuai kebutuhan anda.
                Pesan Sekarang
                Tentang Kami

                Rumah Kapas Garment sebagai UKM Konveksi Seragam di Kota Surabaya sudah dipercaya oleh ribuan customer mulai dari perusahaan, pemerintahan, instansi pendidikan, dan komunitas yang tersebar di seluruh Indonesia bahkan hingga ke manca negara. Kami juga telah berkarya memproduksi jutaan produk pakaian seragam selama lebih dari 9 tahun dalam bisnis garmen dengan standar dan kualitas yang selalu kami jaga.

                Download Company Profile
                Produk Kami
                Kaos Sablon
                Harga mulai
                Rp. 49.900
                Jaket Taslan
                Harga mulai
                Rp. 135.000
                Kemeja PDH
                Harga mulai
                Rp. 135.000
                Kemeja PDL
                Harga Mulai
                Rp 135rb
                Baju Polo
                Harga Mulai
                Rp 75 Ribu
                Kaos Jersey/Kaos Olahraga
                Harga Mulai
                Rp. 95 Ribu
                Baju Perawat
                Harga Mulai
                Rp 150 Ribu
                Baju OK / Dokter
                Harga Mulai
                Rp 145 Ribu
                Jas Laboratorium
                Harga Mulai
                Rp 130 Ribu
                Rompi
                Harga mulai
                Rp. 145.000
                Bagaimana
                Cara Memesan di Rumah Kapas
                Langkah 1
                Konsultasi Gratis via WhatsApp
                Admin kami siap memberikan konsultasi terkait kebutuhan Anda
                Langkah 2
                Pembayaran DP
                Pembayaran DP sebagai tanda untuk memulai produksi
                Langkah 3
                Proses Produksi
                Proses Produksi yang dengan standar tinggi dengan jaminan 99% sesuai sampel
                Langkah 4
                Pelunasan dan Pengiriman
                Setelah Produksi selesai kami siap kirim pesananmu di seluruh Indonesia
                Pesan Sekarang
                Portofolio Kami
                Lihat Semua Portofolio
                Daftar Klien
                Klien Kebanggaan Kami
                Review
                Ini Kata Mereka tentang Rumah Kapas

                Adminnya sangaaat responsif, harganya reasonable. Boleh beli bijian dan bahannyaa ualus bgt, jahitannya rapi juga 😄

                Aulia Hegarsari
                Bina Antarbudaya Surabaya

                Hasil produk baju dari Rumah Kapas yang berkualitas membuat para staff kami terlihat gagah, keren, dan profesional.
                Saya sangat puas dengan pelayanan Rumah Kapas dalam membantu menentukan material baju yang baik dengan harga yang bersahabat.

                Dhendy Satrya Nugraha
                Kepala Manager Super Komputer

                Alhamdulillah, panitia idul Qurban masjid Asasul A'mal mengucapkan terimakasih, kualitas kain sangat bagus dan nyaman, sukses selalu !

                Pak Yani
                Ketua RT Medokan Asri Utara

                Pelayanannya bagus, sm kualitas kain seragam yg dibikin bener2 high class! Maju terus, Rumah Kapas!

                Idang Alfarisi
                Digital Marketing Specialist

                Bikin kemeja disini harga terjangkau, bisa minta tolong dibuatin design, pilihan bahannya juga banyak opsi, admin ramah mantap

                Tegar Risky
                PT. Sinergie Anak Bangsa Indonesia

                Adminnya sangaaat responsif, harganya reasonable. Boleh beli bijian dan bahannyaa ualus bgt, jahitannya rapi juga 😄

                Aulia Hegarsari
                Bina Antarbudaya Surabaya

                Hasil produk baju dari Rumah Kapas yang berkualitas membuat para staff kami terlihat gagah, keren, dan profesional.
                Saya sangat puas dengan pelayanan Rumah Kapas dalam membantu menentukan material baju yang baik dengan harga yang bersahabat.

                Dhendy Satrya Nugraha
                Kepala Manager Super Komputer

                Alhamdulillah, panitia idul Qurban masjid Asasul A'mal mengucapkan terimakasih, kualitas kain sangat bagus dan nyaman, sukses selalu !

                Pak Yani
                Ketua RT Medokan Asri Utara

                Pelayanannya bagus, sm kualitas kain seragam yg dibikin bener2 high class! Maju terus, Rumah Kapas!

                Idang Alfarisi
                Digital Marketing Specialist

                Bikin kemeja disini harga terjangkau, bisa minta tolong dibuatin design, pilihan bahannya juga banyak opsi, admin ramah mantap

                Tegar Risky
                PT. Sinergie Anak Bangsa Indonesia

                Adminnya sangaaat responsif, harganya reasonable. Boleh beli bijian dan bahannyaa ualus bgt, jahitannya rapi juga 😄

                Aulia Hegarsari
                Bina Antarbudaya Surabaya

                Hasil produk baju dari Rumah Kapas yang berkualitas membuat para staff kami terlihat gagah, keren, dan profesional.
                Saya sangat puas dengan pelayanan Rumah Kapas dalam membantu menentukan material baju yang baik dengan harga yang bersahabat.

                Dhendy Satrya Nugraha
                Kepala Manager Super Komputer

                Alhamdulillah, panitia idul Qurban masjid Asasul A'mal mengucapkan terimakasih, kualitas kain sangat bagus dan nyaman, sukses selalu !

                Pak Yani
                Ketua RT Medokan Asri Utara

                Pelayanannya bagus, sm kualitas kain seragam yg dibikin bener2 high class! Maju terus, Rumah Kapas!

                Idang Alfarisi
                Digital Marketing Specialist

                Bikin kemeja disini harga terjangkau, bisa minta tolong dibuatin design, pilihan bahannya juga banyak opsi, admin ramah mantap

                Tegar Risky
                PT. Sinergie Anak Bangsa Indonesia

                Adminnya sangaaat responsif, harganya reasonable. Boleh beli bijian dan bahannyaa ualus bgt, jahitannya rapi juga 😄

                Aulia Hegarsari
                Bina Antarbudaya Surabaya

                Hasil produk baju dari Rumah Kapas yang berkualitas membuat para staff kami terlihat gagah, keren, dan profesional.
                Saya sangat puas dengan pelayanan Rumah Kapas dalam membantu menentukan material baju yang baik dengan harga yang bersahabat.

                Dhendy Satrya Nugraha
                Kepala Manager Super Komputer

                Alhamdulillah, panitia idul Qurban masjid Asasul A'mal mengucapkan terimakasih, kualitas kain sangat bagus dan nyaman, sukses selalu !

                Pak Yani
                Ketua RT Medokan Asri Utara

                Pelayanannya bagus, sm kualitas kain seragam yg dibikin bener2 high class! Maju terus, Rumah Kapas!

                Idang Alfarisi
                Digital Marketing Specialist

                Bikin kemeja disini harga terjangkau, bisa minta tolong dibuatin design, pilihan bahannya juga banyak opsi, admin ramah mantap

                Tegar Risky
                PT. Sinergie Anak Bangsa Indonesia

                Adminnya sangaaat responsif, harganya reasonable. Boleh beli bijian dan bahannyaa ualus bgt, jahitannya rapi juga 😄

                Aulia Hegarsari
                Bina Antarbudaya Surabaya

                Hasil produk baju dari Rumah Kapas yang berkualitas membuat para staff kami terlihat gagah, keren, dan profesional.
                Saya sangat puas dengan pelayanan Rumah Kapas dalam membantu menentukan material baju yang baik dengan harga yang bersahabat.

                Dhendy Satrya Nugraha
                Kepala Manager Super Komputer

                Alhamdulillah, panitia idul Qurban masjid Asasul A'mal mengucapkan terimakasih, kualitas kain sangat bagus dan nyaman, sukses selalu !

                Pak Yani
                Ketua RT Medokan Asri Utara

                Pelayanannya bagus, sm kualitas kain seragam yg dibikin bener2 high class! Maju terus, Rumah Kapas!

                Idang Alfarisi
                Digital Marketing Specialist

                Bikin kemeja disini harga terjangkau, bisa minta tolong dibuatin design, pilihan bahannya juga banyak opsi, admin ramah mantap

                Tegar Risky
                PT. Sinergie Anak Bangsa Indonesia

                Adminnya sangaaat responsif, harganya reasonable. Boleh beli bijian dan bahannyaa ualus bgt, jahitannya rapi juga 😄

                Aulia Hegarsari
                Bina Antarbudaya Surabaya

                Hasil produk baju dari Rumah Kapas yang berkualitas membuat para staff kami terlihat gagah, keren, dan profesional.
                Saya sangat puas dengan pelayanan Rumah Kapas dalam membantu menentukan material baju yang baik dengan harga yang bersahabat.

                Dhendy Satrya Nugraha
                Kepala Manager Super Komputer

                Alhamdulillah, panitia idul Qurban masjid Asasul A'mal mengucapkan terimakasih, kualitas kain sangat bagus dan nyaman, sukses selalu !

                Pak Yani
                Ketua RT Medokan Asri Utara

                Pelayanannya bagus, sm kualitas kain seragam yg dibikin bener2 high class! Maju terus, Rumah Kapas!

                Idang Alfarisi
                Digital Marketing Specialist

                Bikin kemeja disini harga terjangkau, bisa minta tolong dibuatin design, pilihan bahannya juga banyak opsi, admin ramah mantap

                Tegar Risky
                PT. Sinergie Anak Bangsa Indonesia
                Wujudkan seragam terbaik untuk perusahaan anda!
                Pesan Sekarang
                Pertanyaan umum tentang Rumah Kapas
                Frequently Asked Question
                Berapa minimal jumlah pemesanan ?
                Jumlah minimal pemesanan adalah 24 pcs / desain.
                Kantor Rumah Kapas buka pada hari apa dan jam berapa?
                Kantor kami buka mulai hari Senin - Jumat pada pukul 09.00-16.00 WIB dan hari Sabtu pada pukul 09.00-12.00 WIB
                Dimana lokasi kantor Rumah Kapas berada?
                Kantor kami beralamat di Jl. Medokan Asri Utara XV Blok J no, 5 Kecamatan Rungkut Kota Surabaya.
                Apakah bisa jika dibuatkan sampel produk terlebih dahulu?
                Kami memberikan pelayanan sampel produk dengan ketentuan sistem deposit dan minimal pemesanan 100 pcs per desain. Jika order kurang dari 100 pcs, maka anda dapat menggunakan layanan sampel bahan untuk merasakan handfeel tekstur bahan tersebut.
                Berapa lama waktu proses produksi di Rumah Kapas?
                Proses produksi berlangsung selama ±2 minggu. tergantung jenis produk, jumlah pemesanan, dan tingkat kerumitan produk. Untuk informasi lebih detail silahkan hubungi Admin WhatsApp kami.
                Saya tidak bisa desain, apakah Rumah Kapas dapat membantu mendesainkan kebutuhan produk garment saya?
                Kami memberikan layanan fasilitas gratis pembuatan desain dengan ketentuan sistem deposit atau pembayaran DP minimal 50% terlebih dahulu. Anda dapat memberikan referensi contoh desain dan detail produk seperti logo, jenis font, dan tulisan yang ingin dicantumkan nantinya.
                Blog
                Baca Informasi Terbaru disini
                Masuk Blog
                Intip 10 Jenis Kemeja Yang Wajib Untuk Anda Ketahui!
                Azzahra Riadi
                Kaos Sablon Vs Kaos Polos? Yuk, Simak Untuk Mengenal Gayamu!
                Azzahra Riadi
                Kemeja Trendi Untuk Tampil Bergaya Di Bulan Yang Suci!
                Azzahra Riadi
                Kerja Optimal Dengan Rompi Lapangan Yang Nyaman Dan Fashionable
                Azzahra Riadi
                BIKIN BAJUMU SEKARANG
                Hubungi Kami
                Rumah Kapas merupakan konveksi dan garment yang menyediakan berbagai produk seperti kaos, seragam, kemeja, jaket, baju medis dengan kualitas dan harga terbaik.
                Menu
                Tentang Kami
                Kain & Kaos
                Portofolio
                Blog
                Karir
                Kontak Kami
                WhatsApp (Admin Produksi)
                08113534222
                Marketplace
                Shoppe
                rumah.kapas
                Tokopedia
                rumahkapas
                Alamat
                Jl. Dupak Bangunsari Tengah No.14, Dupak, Kec. Krembangan, Surabaya, Jawa Timur 60175
                Rumah Kapas © 2024
                PT. Ijadgrup Rahmat Semesta

            </textarea>

            <br>
            <p>Delta:</p>

            <textarea name="konten-difference" id="konten-difference" class="form-control" cols="30" rows="4" readonly>
                Difference: 0.02%

                Removed: 150
                Added: 190
                
                Removed: 145
                Added: 115

            </textarea>

            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>1 Mei 2024</p>
                        <img src="/img/data/rumahkapas2.jpg" alt="Rumah Kapas" class="img-fluid">
                    </div>

                    <div class="col-md-6">
                        <p>8 Mei 2024</p>
                        <img src="/img/data/rumahkapas2.jpg" alt="Rumah Kapas" class="img-fluid">


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="line"></div>