<div>
    <h1>Kirim Pesan Individual</h1>
</div>


<div class="form-group">
    <label>Menanggapi atas pesan:</label>
    <textarea name="previous-message" id="previous-message" class="form-control required" cols="30" rows="4"></textarea>
</div>

<div class="form-group">
    <label>Rencana Pesan:</label>
    <textarea name="user-draft" id="user-draft" class="form-control required" cols="30" rows="4"></textarea>
</div>
<br>

<div class="col-12 form-group">
    <div class="input-group">
        <input type="text" name="user-instruction" id="user-instruction" class="form-control" value="" placeholder="Arahan improvement">
        <div class="input-group-append" style="margin-left: 10px;">
            <button id="reset-instruction" type="button" name="openai-submit" class="btn btn-secondary">Reset</button>
        </div>
    </div>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="use-emoji">
    <label class="form-check-label" for="use-emoji">Gunakan emoji</label>
</div>

<div class="col-12">
    <button id="improve-pesan" type="button" name="improve-pesan" class="btn btn-primary">Improve Pesan</button>
</div>
<br>
<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor); display: none;">
   <div class="css3-spinner-rect1"></div>
   <div class="css3-spinner-rect2"></div>
   <div class="css3-spinner-rect3"></div>
   <div class="css3-spinner-rect4"></div>
   <div class="css3-spinner-rect5"></div>
</div>
<div class="form-group">
    <textarea name="konten-dikirim" id="konten-dikirim" class="form-control" cols="30" rows="4"></textarea>
</div>

<div class="col-12">
	<label>Selected Person:</label>
	<ul id="selectedPersonsList"></ul> <!-- Placeholder for the list of selected persons -->
	<button id="sendMessagesBtn" type="button" name="kirimkan-pesan" class="btn btn-success">Kirim Pesan</button>
</div>

<br>


<div class="content">
	<div class="table-responsive">
		<table id="chatDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Select</th> <!-- Checkbox header -->
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
            </tfoot>
			<tbody>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Tiger Nixon" data-number="+62817309143"></td>
					<td>Tiger Nixon</td>
					<td>System Architect</td>
					<td>Edinburgh</td>
					<td>61</td>
					<td>2023/04/25</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Garrett Winters" data-number="+62817309143"></td>
					<td>Garrett Winters</td>
					<td>Accountant</td>
					<td>Tokyo</td>
					<td>63</td>
					<td>2023/07/25</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Ashton Cox" data-number="+62817309143"></td>
					<td>Ashton Cox</td>
					<td>Junior Technical Author</td>
					<td>San Francisco</td>
					<td>66</td>
					<td>2023/01/12</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Cedric Kelly" data-number="+62817309143"></td>
					<td>Cedric Kelly</td>
					<td>Senior Javascript Developer</td>
					<td>Edinburgh</td>
					<td>22</td>
					<td>2023/03/29</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Airi Satou" data-number="+62817309143"></td>
					<td>Airi Satou</td>
					<td>Accountant</td>
					<td>Tokyo</td>
					<td>33</td>
					<td>2023/11/28</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Brielle Williamson" data-number="+62817309143"></td>
					<td>Brielle Williamson</td>
					<td>Integration Specialist</td>
					<td>New York</td>
					<td>61</td>
					<td>2023/12/02</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Herrod Chandler" data-number="+62817309143"></td>
					<td>Herrod Chandler</td>
					<td>Sales Assistant</td>
					<td>San Francisco</td>
					<td>59</td>
					<td>2023/08/06</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Rhona Davidson" data-number="+62817309143"></td>
					<td>Rhona Davidson</td>
					<td>Integration Specialist</td>
					<td>Tokyo</td>
					<td>55</td>
					<td>2023/10/14</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Colleen Hurst" data-number="+62817309143"></td>
					<td>Colleen Hurst</td>
					<td>Javascript Developer</td>
					<td>San Francisco</td>
					<td>39</td>
					<td>2023/09/15</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Sonya Frost" data-number="+62817309143"></td>
					<td>Sonya Frost</td>
					<td>Software Engineer</td>
					<td>Edinburgh</td>
					<td>23</td>
					<td>2023/12/13</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Jena Gaines" data-number="+62817309143"></td>
					<td>Jena Gaines</td>
					<td>Office Manager</td>
					<td>London</td>
					<td>30</td>
					<td>2023/12/19</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Quinn Flynn" data-number="+62817309143"></td>
					<td>Quinn Flynn</td>
					<td>Support Lead</td>
					<td>Edinburgh</td>
					<td>22</td>
					<td>2023/03/03</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Charde Marshall" data-number="+62817309143"></td>
					<td>Charde Marshall</td>
					<td>Regional Director</td>
					<td>San Francisco</td>
					<td>36</td>
					<td>2023/10/16</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Haley Kennedy" data-number="+62817309143"></td>
					<td>Haley Kennedy</td>
					<td>Senior Marketing Designer</td>
					<td>London</td>
					<td>43</td>
					<td>2023/12/18</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Tatyana Fitzpatrick" data-number="+62817309143"></td>
					<td>Tatyana Fitzpatrick</td>
					<td>Regional Director</td>
					<td>London</td>
					<td>19</td>
					<td>2023/03/17</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Michael Silva" data-number="+62817309143"></td>
					<td>Michael Silva</td>
					<td>Marketing Designer</td>
					<td>London</td>
					<td>66</td>
					<td>2023/11/27</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Paul Byrd" data-number="+62817309143"></td>
					<td>Paul Byrd</td>
					<td>Chief Financial Officer (CFO)</td>
					<td>New York</td>
					<td>64</td>
					<td>2023/06/09</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Gloria Little" data-number="+62817309143"></td>
					<td>Gloria Little</td>
					<td>Systems Administrator</td>
					<td>New York</td>
					<td>59</td>
					<td>2023/04/10</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Bradley Greer" data-number="+62817309143"></td>
					<td>Bradley Greer</td>
					<td>Software Engineer</td>
					<td>London</td>
					<td>41</td>
					<td>2023/10/13</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Dai Rios" data-number="+62817309143"></td>
					<td>Dai Rios</td>
					<td>Personnel Lead</td>
					<td>Edinburgh</td>
					<td>35</td>
					<td>2023/09/26</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Jenette Caldwell" data-number="+62817309143"></td>
					<td>Jenette Caldwell</td>
					<td>Development Lead</td>
					<td>New York</td>
					<td>30</td>
					<td>2023/09/03</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Yuri Berry" data-number="+62817309143"></td>
					<td>Yuri Berry</td>
					<td>Chief Marketing Officer (CMO)</td>
					<td>New York</td>
					<td>40</td>
					<td>2023/06/25</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Caesar Vance" data-number="+62817309143"></td>
					<td>Caesar Vance</td>
					<td>Pre-Sales Support</td>
					<td>New York</td>
					<td>21</td>
					<td>2023/12/12</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Doris Wilder" data-number="+62817309143"></td>
					<td>Doris Wilder</td>
					<td>Sales Assistant</td>
					<td>Sidney</td>
					<td>23</td>
					<td>2023/09/20</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Angelica Ramos" data-number="+62817309143"></td>
					<td>Angelica Ramos</td>
					<td>Chief Executive Officer (CEO)</td>
					<td>London</td>
					<td>47</td>
					<td>2023/10/09</td>
					<td>+62817309143,000</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Gavin Joyce" data-number="+62817309143"></td>
					<td>Gavin Joyce</td>
					<td>Developer</td>
					<td>Edinburgh</td>
					<td>42</td>
					<td>2023/12/22</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Jennifer Chang" data-number="+62817309143"></td>
					<td>Jennifer Chang</td>
					<td>Regional Director</td>
					<td>Singapore</td>
					<td>28</td>
					<td>2023/11/14</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Brenden Wagner" data-number="+62817309143"></td>
					<td>Brenden Wagner</td>
					<td>Software Engineer</td>
					<td>San Francisco</td>
					<td>28</td>
					<td>2023/06/07</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Fiona Green" data-number="+62817309143"></td>
					<td>Fiona Green</td>
					<td>Chief Operating Officer (COO)</td>
					<td>San Francisco</td>
					<td>48</td>
					<td>2023/03/11</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Shou Itou" data-number="+62817309143"></td>
					<td>Shou Itou</td>
					<td>Regional Marketing</td>
					<td>Tokyo</td>
					<td>20</td>
					<td>2023/08/14</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Michelle House" data-number="+62817309143"></td>
					<td>Michelle House</td>
					<td>Integration Specialist</td>
					<td>Sidney</td>
					<td>37</td>
					<td>2023/06/02</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Suki Burks" data-number="+62817309143"></td>
					<td>Suki Burks</td>
					<td>Developer</td>
					<td>London</td>
					<td>53</td>
					<td>2023/10/22</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Prescott Bartlett" data-number="+62817309143"></td>
					<td>Prescott Bartlett</td>
					<td>Technical Author</td>
					<td>London</td>
					<td>27</td>
					<td>2023/05/07</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Gavin Cortez" data-number="+62817309143"></td>
					<td>Gavin Cortez</td>
					<td>Team Leader</td>
					<td>San Francisco</td>
					<td>22</td>
					<td>2023/10/26</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Martena Mccray" data-number="+62817309143"></td>
					<td>Martena Mccray</td>
					<td>Post-Sales support</td>
					<td>Edinburgh</td>
					<td>46</td>
					<td>2023/03/09</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Unity Butler" data-number="+62817309143"></td>
					<td>Unity Butler</td>
					<td>Marketing Designer</td>
					<td>San Francisco</td>
					<td>47</td>
					<td>2023/12/09</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Howard Hatfield" data-number="+62817309143"></td>
					<td>Howard Hatfield</td>
					<td>Office Manager</td>
					<td>San Francisco</td>
					<td>51</td>
					<td>2023/12/16</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Hope Fuentes" data-number="+62817309143"></td>
					<td>Hope Fuentes</td>
					<td>Secretary</td>
					<td>San Francisco</td>
					<td>41</td>
					<td>2023/02/12</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Vivian Harrell" data-number="+62817309143"></td>
					<td>Vivian Harrell</td>
					<td>Financial Controller</td>
					<td>San Francisco</td>
					<td>62</td>
					<td>2023/02/14</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Timothy Mooney" data-number="+62817309143"></td>
					<td>Timothy Mooney</td>
					<td>Office Manager</td>
					<td>London</td>
					<td>37</td>
					<td>2023/12/11</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Jackson Bradshaw" data-number="+62817309143"></td>
					<td>Jackson Bradshaw</td>
					<td>Director</td>
					<td>New York</td>
					<td>65</td>
					<td>2023/09/26</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Olivia Liang" data-number="+62817309143"></td>
					<td>Olivia Liang</td>
					<td>Support Engineer</td>
					<td>Singapore</td>
					<td>64</td>
					<td>2023/02/03</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Bruno Nash" data-number="+62817309143"></td>
					<td>Bruno Nash</td>
					<td>Software Engineer</td>
					<td>London</td>
					<td>38</td>
					<td>2023/05/03</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Sakura Yamamoto" data-number="+62817309143"></td>
					<td>Sakura Yamamoto</td>
					<td>Support Engineer</td>
					<td>Tokyo</td>
					<td>37</td>
					<td>2023/08/19</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Thor Walton" data-number="+62817309143"></td>
					<td>Thor Walton</td>
					<td>Developer</td>
					<td>New York</td>
					<td>61</td>
					<td>2023/08/11</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Finn Camacho" data-number="+62817309143"></td>
					<td>Finn Camacho</td>
					<td>Support Engineer</td>
					<td>San Francisco</td>
					<td>47</td>
					<td>2023/07/07</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Serge Baldwin" data-number="+62817309143"></td>
					<td>Serge Baldwin</td>
					<td>Data Coordinator</td>
					<td>Singapore</td>
					<td>64</td>
					<td>2023/04/09</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Zenaida Frank" data-number="+62817309143"></td>
					<td>Zenaida Frank</td>
					<td>Software Engineer</td>
					<td>New York</td>
					<td>63</td>
					<td>2023/01/04</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Zorita Serrano" data-number="+62817309143"></td>
					<td>Zorita Serrano</td>
					<td>Software Engineer</td>
					<td>San Francisco</td>
					<td>56</td>
					<td>2023/06/01</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Jennifer Acosta" data-number="+62817309143"></td>
					<td>Jennifer Acosta</td>
					<td>Junior Javascript Developer</td>
					<td>Edinburgh</td>
					<td>43</td>
					<td>2023/02/01</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Cara Stevens" data-number="+62817309143"></td>
					<td>Cara Stevens</td>
					<td>Sales Assistant</td>
					<td>New York</td>
					<td>46</td>
					<td>2023/12/06</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Hermione Butler" data-number="+62817309143"></td>
					<td>Hermione Butler</td>
					<td>Regional Director</td>
					<td>London</td>
					<td>47</td>
					<td>2023/03/21</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Lael Greer" data-number="+62817309143"></td>
					<td>Lael Greer</td>
					<td>Systems Administrator</td>
					<td>London</td>
					<td>21</td>
					<td>2023/02/27</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Jonas Alexander" data-number="+62817309143"></td>
					<td>Jonas Alexander</td>
					<td>Developer</td>
					<td>San Francisco</td>
					<td>30</td>
					<td>2023/07/14</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Shad Decker" data-number="+62817309143"></td>
					<td>Shad Decker</td>
					<td>Regional Director</td>
					<td>Edinburgh</td>
					<td>51</td>
					<td>2023/11/13</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Michael Bruce" data-number="+62817309143"></td>
					<td>Michael Bruce</td>
					<td>Javascript Developer</td>
					<td>Singapore</td>
					<td>29</td>
					<td>2023/06/27</td>
					<td>+62817309143</td>
				</tr>
				<tr>
					<td><input type="checkbox" class="select-checkbox" data-name="Donna Snider" data-number="+62817309143"></td>
					<td>Donna Snider</td>
					<td>Customer Support</td>
					<td>New York</td>
					<td>27</td>
					<td>2023/01/25</td>
					<td>+62817309143</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<script>

	
// Berlaku untuk page Kirim Pesan
document.addEventListener('DOMContentLoaded', function () {
    const updateSelectedList = () => {
        const selectedList = document.getElementById('selectedPersonsList');
        selectedList.innerHTML = ''; // Clear the list
        const checkboxes = document.querySelectorAll('.select-checkbox:checked');
        checkboxes.forEach((checkbox, index) => {
            const name = checkbox.getAttribute('data-name');
            const listItem = document.createElement('li');
            listItem.textContent = `${index + 1}. ${name}`; // Create list item with the name
            selectedList.appendChild(listItem); // Add the list item to the list
        });
    };

    // Event listener for checkboxes
    const checkboxes = document.querySelectorAll('.select-checkbox');
    if (checkboxes) {
        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener('change', updateSelectedList);
        });
    }

    // Sending messages when button is clicked
    const sendMessagesBtn = document.getElementById('sendMessagesBtn');
    if (sendMessagesBtn) {
        sendMessagesBtn.addEventListener('click', function () {
            const selectedUsers = [];
            document.querySelectorAll('.select-checkbox:checked').forEach((checkbox) => {
                selectedUsers.push({
                    name: checkbox.getAttribute('data-name'),
                    number: checkbox.getAttribute('data-number'),
                });
            });

            // Get the content of the message from the textarea
            const messageContent = document.getElementById('konten-dikirim').value;

            // Log selected users or send this data to your server/API for further processing
            console.log('%c Selected users', 'color: green', selectedUsers);

            // Example: Post to a server endpoint
            const numbers = selectedUsers.map(user => user.number);
            fetch('http://localhost:3002/api/send-messages', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    numbers: numbers,
                    text: messageContent,
                }),
            })
                .then((response) => response.json())
                .then((data) => console.log(data))
                .catch((error) => console.error('Error:', error));
        });
    }
});



document.getElementById('improve-pesan').addEventListener('click', function () {
    // Get the values from the inputs
    const previousMessage = document.getElementById('previous-message').value;
    const userDraft = document.getElementById('user-draft').value;
    const userInstruction = document.getElementById('user-instruction').value;
    const useEmoji = document.getElementById('use-emoji').checked;

    // Show the spinner
    document.querySelector('.css3-spinner').style.display = 'block';

    // Fetch data from the OpenAI API
    fetch('/api/openai-improvement-pesan', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            userDraft: userDraft,
            previousMessage: previousMessage,
            userInstruction: userInstruction,
            useEmoji: useEmoji,
        }),
    })
        .then((response) => response.json())
        .then((data) => {
            // Hide the spinner
            document.querySelector('.css3-spinner').style.display = 'none';
            // Put the result in the 'konten-dikirim' textarea
            document.getElementById('konten-dikirim').value = data.message;
        })
        .catch((error) => {
            // Hide the spinner in case of error
            document.querySelector('.css3-spinner').style.display ='none';
            console.error('Error:', error);
        });
});
</script>
