<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta http-equiv="x-ua-compatible" content="IE=edge">
		<meta name="author" content="SemiColonWeb">
		<meta name="description" content="Manajemen Pesan Vido Garment.">

		{{!-- Font Imports --}}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">

		{{!-- Core Style --}}
		<link rel="stylesheet" href="style.css">

		{{!-- Font Icons --}}
		<link rel="stylesheet" href="css/font-icons.css">

		{{!-- Plugins/Components CSS --}}
		<link rel="stylesheet" href="css/swiper.css">

		{{!-- Custom CSS --}}
		<link rel="stylesheet" href="css/custom.css">
		<link rel="stylesheet" href="css/bs-datatable.css">


		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Document Title
		============================================= -->
        <title>{{title}} | Vido Garment </title>
</head>

<body class="stretched side-header">
    <div id="wrapper">
        <header id="header">
                <div id="header-wrap">
					<div class="container">
						<div class="header-row justify-content-between">

							<!-- Logo
							============================================= -->
							<div id="logo">
								<a href="index.html">
									<img class="logo-default" srcset="img/logo-side.png, img/Logo-Vido-PNG.png 2x" src="img/logo-side@2x.png" alt="Website Logo">
									<img class="logo-dark" srcset="img/logo-side-dark.png, img/logo-side-dark@2x.png 2x" src="img/logo-side-dark@2x.png" alt="Website Logo">
									<img class="logo-mobile" srcset="img/logo.png, img/Logo-Vido-PNG.png 2x" src="img/logo@2x.png" alt="Website Logo">
								</a>
							</div><!-- #logo end -->

							<div class="primary-menu-trigger">
								<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
									<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
								</button>
							</div>

							<div class="header-misc d-none d-sm-block"></div>

							<!-- Primary Navigation
							============================================= -->
							<nav class="primary-menu">

								<ul class="menu-container">
									<li class="menu-item"><a class="menu-link" href="/"><div>Home</div></a></li>
									{{!-- <li class="menu-item"><a class="menu-link" href="/compose"><div>Compose</div></a></li>--}}
									{{!--<li class="menu-item"><a class="menu-link" href="/send-broadcast"><div>Send Broadcast</div></a></li>--}}
									<li class="menu-item"><a class="menu-link" href="/send-individual"><div>Send Individuals</div></a></li>
									{{!-- <li class="menu-item"><a class="menu-link" href="/chat-group"><div>Chat Group</div></a></li>--}}
									<li class="menu-item"><a class="menu-link" href="/chat-individual"><div>Chats</div></a></li>
									<li class="menu-item"><a class="menu-link" href="/kompetitor"><div>Kompetitor</div></a>
										<ul class="sub-menu-container">
											<li class="menu-item"><a class="menu-link" href="/kompetitor"><div>List Kompetitor</div></a></li>
											<li class="menu-item"><a class="menu-link" href="/kompetitor-detail"><div>Detail Mockup</div></a></li>
										</ul>
									</li>

									<li class="menu-item"><a class="menu-link" href="/prospek"><div>Prospek PT-CV</div></a></li>
									{{!-- <li class="menu-item"><a class="menu-link" href="/forms"><div>Forms</div></a></li> --}}
									{{!-- <li class="menu-item"><a class="menu-link" href="/blog"><div>Blog</div></a></li>
										<ul class="sub-menu-container">
											<li class="menu-item"><a class="menu-link" href="#"><div>Default</div></a>
												<ul class="sub-menu-container">
													<li class="menu-item"><a class="menu-link" href="blog.html"><div>Right Sidebar</div></a></li>
													<li class="menu-item"><a class="menu-link" href="blog-left-sidebar.html"><div>Left Sidebar</div></a></li>
													<li class="menu-item"><a class="menu-link" href="blog-both-sidebar.html"><div>Both Sidebar</div></a></li>
													<li class="menu-item"><a class="menu-link" href="blog-full-width.html"><div>Full Width</div></a></li>
												</ul>
											</li>
											<li class="menu-item"><a class="menu-link" href="#"><div>Timeline</div></a>
												<ul class="sub-menu-container">
													<li class="menu-item"><a class="menu-link" href="blog-timeline-right-sidebar.html"><div>Right Sidebar</div></a></li>
													<li class="menu-item"><a class="menu-link" href="blog-timeline-left-sidebar.html"><div>Left Sidebar</div></a></li>
													<li class="menu-item"><a class="menu-link" href="blog-timeline.html"><div>Full Width</div></a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="menu-item"><a class="menu-link" href="shop.html"><div>Shop</div></a></li>
									<li class="menu-item"><a class="menu-link" href="#"><div>Shortcodes</div></a>
										<ul class="sub-menu-container">
											<li class="menu-item"><a class="menu-link" href="animations.html"><div><i class="bi-magic"></i>Animations</div></a></li>
											<li class="menu-item"><a class="menu-link" href="buttons.html"><div><i class="bi-square"></i>Buttons</div></a></li>
											<li class="menu-item"><a class="menu-link" href="carousel.html"><div><i class="bi-arrow-left-right"></i>Carousel</div></a></li>
											<li class="menu-item"><a class="menu-link" href="charts.html"><div><i class="bi-graph-up-arrow"></i>Charts</div></a></li>
											<li class="menu-item"><a class="menu-link" href="toggles-accordions.html"><div><i class="bi-caret-down-square"></i>Toggles</div></a></li>
										</ul>
									</li> --}}
								</ul>

							</nav><!-- #primary-menu end -->

						</div>
					</div>
				</div>
				<div class="header-wrap-clone"></div>
        </header>
        
        <section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-20 min-vh-md-80">
            <div class="slider-inner">

					<div class="swiper swiper-parent">
						<div class="swiper-wrapper">
							<div class="swiper-slide dark">
								<div class="container">
									<div class="slider-caption slider-caption-center">
										<!-- <h2 data-animate="fadeInUp">Welcome to Canvas</h2> --!>
										<!-- <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">Create just what you need for your Perfect Website. Choose from a wide range of Elements &amp; simply put them on our Canvas.</p> --!>
									</div>
								</div>
								<div class="swiper-slide-bg" style="background-image: url('img/slider/swiper/fashionable-mannequin2.jpg');"></div>
							</div>
							<div class="swiper-slide">
								<div class="container">
									<div class="slider-caption">
										<h2 data-animate="fadeInUp">Great Performance</h2>
										<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
									</div>
								</div>
								<div class="swiper-slide-bg" style="background-image: url('img/slider/swiper/3.jpg'); background-position: center top;"></div>
							</div>
						</div>
						<div class="slider-arrow-left"><i class="uil uil-angle-left-b"></i></div>
						<div class="slider-arrow-right"><i class="uil uil-angle-right-b"></i></div>
						<div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
					</div>

				</div>
        </section>

        {{!-- Page Specific Content --}}
        <section id="content">
            <div class="content-wrap">
				<div class="container">
                	{{{body}}}
            	</div>
            </div>
        </section>

        <footer id="footer" class="dark">
            <!-- Copyrights
				============================================= -->
				<div id="copyrights">
					<div class="container">

						<div class="row col-mb-30">

							<div class="col-md-6 text-center text-md-start">
								Copyrights &copy; 2024 All Rights Reserved by Vido Garment.<br>
							</div>

							<div class="col-md-6 text-center text-md-end">
								<i class="bi-envelope"></i> info@vidogarment.com <span class="middot">&middot;</span> <i class="fa-solid fa-phone"></i> 0812000000 <span class="middot">&middot;</span> <i class="bi-skype"></i> VidoGarment
							</div>

						</div>

					</div>
				</div><!-- #copyrights end -->
        </footer>
    </div>

         <!-- Go To Top
		============================================= -->
		<div id="gotoTop" class="uil uil-angle-up"></div>

		<!-- JavaScripts
		============================================= -->
		<script src="js/jquery.min.js"></script>
		<script src="js/plugins.min.js"></script>
		<script src="js/chatmessage.js"></script>
		<script src="js/functions.bundle.js"></script>
		<script src="js/bs-datatable.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>

		
		<script>
			jQuery(document).ready(function() {
				jQuery('#chatDataTable').dataTable();
			});
		</script>


</body>
</html>
